* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
  color: #555;
}

html {
  font-size: 62.5%;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;
}

